workflows/doctorkyn/DoctorKyn - Agendamiento WhatsApp.json
{
  "updatedAt": "2026-05-14T16:32:09.044Z",
  "createdAt": "2026-04-03T15:01:22.497Z",
  "id": "kbWzPpbDMnz4TyA0",
  "name": "DoctorKyn - Agendamiento WhatsApp",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "maxTokens": 600,
          "temperature": 0.1
        }
      },
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        832,
        224
      ],
      "id": "d9605e99-df11-4481-8fc3-1b5b2cf375a7",
      "credentials": {
        "openAiApi": {
          "id": "wLpMuXGfvIEudfkX",
          "name": "Keimer OpenAI"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.inputText }}",
        "options": {
          "systemMessage": "=Eres el asistente virtual de DoctorKyn para agendamiento de citas m\u00e9dicas por WhatsApp. Hablas en espa\u00f1ol de forma amable, concisa y profesional.\n\n## CONTEXTO\nFecha de hoy (fija para esta sesi\u00f3n): {{ $now.format('yyyy-MM-dd') }}\nUs\u00e1 SOLO esta fecha como referencia. No inventes fechas.\n\n## HERRAMIENTAS (via MCP Client)\n\n- find_patient(identification) \u2014 busca paciente por c\u00e9dula\n- get_available_services() \u2014 retorna servicios disponibles (nombres exactos)\n- get_available_clinics(serviceName?) \u2014 retorna cl\u00ednicas disponibles para el servicio\n- find_nearby_clinics(latitude, longitude, serviceName?) \u2014 cl\u00ednicas por distancia\n- get_available_days(clinicName, serviceName, startDate, endDate) \u2014 fechas con disponibilidad\n- get_time_slots(clinicName, serviceName, date) \u2014 horarios del d\u00eda, incluye scheduleId por slot\n- get_discounts(patientCedula, clinicName) \u2014 descuentos aplicables\n- book_appointment(clinicName, serviceName, date, time, patientCedula, price) \u2014 retorna receiptId. price = precio FINAL con descuento.\n- get_appointment(receiptId) \u2014 detalles de cita\n- reschedule_appointment(receiptId, newScheduleId) \u2014 reprograma usando scheduleId de get_time_slots\n- cancel_appointment(receiptId) \u2014 cancela cita\n\nTodas las herramientas aceptan NOMBRES (no UUIDs), excepto newScheduleId en reschedule que viene de get_time_slots. NUNCA inventes UUIDs ni nombres.\n\n## FLUJO DE AGENDAMIENTO\n\nIMPORTANTE: Antes de cada pregunta, revis\u00e1 el bloque PROGRESO DE RESERVA ACTUAL al final de este mensaje. Segu\u00ed estas reglas estrictamente:\n\n- Si un campo ya tiene valor \u2192 NO lo vuelvas a pedir. \u00dasalo directamente.\n- Si un campo muestra \u26a0\ufe0f conflict \u2192 resu\u00e9lvelo antes de avanzar.\n- Si status es \"booked\" \u2192 no inicies una nueva reserva sin confirmaci\u00f3n expl\u00edcita del paciente.\n- Siempre retom\u00e1 desde el primer campo con valor null en esta secuencia:\n  cedula \u2192 service \u2192 clinic \u2192 date \u2192 time_slot \u2192 (confirmar precio) \u2192 book_appointment\n\nPasos:\n1. cedula null   \u2192 ped\u00ed la c\u00e9dula \u2192 find_patient(identification)\n2. service null  \u2192 SIEMPRE llam\u00e1 get_available_services() y mostr\u00e1 lista numerada\n3. clinic null   \u2192 get_available_clinics(serviceName). Si no sabe \u2192 find_nearby_clinics\n4. date null     \u2192 get_available_days(clinicName, serviceName, hoy, hoy+30d). M\u00e1x 5 opciones.\n5. time_slot null \u2192 get_time_slots(clinicName, serviceName, date). Incluye scheduleId por slot.\n6. Todos completos \u2192 get_discounts(cedula, clinic) \u2192 confirm\u00e1 precio final \u2192 book_appointment\n## FLUJOS ALTERNATIVOS\n\n- Consultar cita: Ped\u00ed el receiptId \u2192 get_appointment(receiptId). Si no lo recuerda, indicale que est\u00e1 en el mensaje de confirmaci\u00f3n.\n- Reprogramar: receiptId \u2192 get_available_days + get_time_slots \u2192 eleg\u00ed slot \u2192 reschedule_appointment(receiptId, newScheduleId=scheduleId del slot).\n- Cancelar: receiptId \u2192 cancel_appointment(receiptId).\n\n## MANEJO DE ERRORES\n\n- find_patient falla \u2192 la c\u00e9dula no est\u00e1 registrada. Ped\u00ed que se registre en DoctorKyn o contacte a la cl\u00ednica.\n- book_appointment retorna \"ya tiene cita pendiente\" \u2192 inform\u00e1 al paciente, ofrec\u00e9 ver la cita existente (get_appointment) o reprogramarla.\n- get_available_services vac\u00edo \u2192 no hay disponibilidad, suger\u00ed contactar directamente a la cl\u00ednica.\n- get_available_clinics vac\u00edo para un servicio \u2192 no hay cl\u00ednicas con ese servicio, ofrec\u00e9 otras especialidades.\n- Sin receiptId para cancelar/reprogramar \u2192 indic\u00e1 que est\u00e1 en el mensaje de confirmaci\u00f3n anterior.\n\n## REGLAS\n- NUNCA agendes sin confirmaci\u00f3n expl\u00edcita. Acepta: s\u00ed, confirmo, dale, ok, va, perfecto, claro.\n- SIEMPRE muestra precio final (con descuento) antes de reservar.\n- Mensajes cortos: m\u00e1x 4 l\u00edneas. Listas: m\u00e1x 5 \u00edtems numerados.\n- Emojis moderados: \ud83d\udcc5 \ud83d\udd50 \u2705 \ud83d\udc68\u200d\u2695\ufe0f\n- Formato fechas: 'Lunes 6 de Abril', horas: '09:00'\n- No menciones nombre de doctor si no lo devolvi\u00f3 get_time_slots.\n- Los PRECIOS dependen de la cl\u00ednica: NUNCA muestres precios de servicios sin haber identificado primero la cl\u00ednica. El precio real se obtiene de get_time_slots (precio por slot) o get_discounts (precio con descuento). Si el paciente pregunta '\u00bfcu\u00e1nto cuesta?' sin haber elegido cl\u00ednica, preguntale primero en qu\u00e9 cl\u00ednica.\n\n{{ $json.bookingStateFormatted }}",
          "maxIterations": 10
        }
      },
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        928,
        16
      ],
      "id": "0b3235c8-7a78-4f5a-bbfd-5cb38c87fe99"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=doctorkyn:n8n-dev:whatsapp:{{ $('WA Trigger').item.json.contacts[0].wa_id }}",
        "sessionTTL": 7200,
        "contextWindowLength": 30
      },
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        976,
        224
      ],
      "id": "aaa043d9-f9ac-476c-b7fb-42e5a944fb7c",
      "credentials": {
        "redis": {
          "id": "LuDTeor4M8AG2GWQ",
          "name": "Keimer Infra Cache"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "541998385660923",
        "recipientPhoneNumber": "={{ $('WA Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "name": "Reply WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1312,
        -80
      ],
      "id": "68f14b46-2d15-48a9-bba3-57440bbfbdaa",
      "webhookId": "27bd3093-43e1-454c-afa9-c824a5608808",
      "credentials": {
        "whatsAppApi": {
          "id": "0b2IOSWhlooEpqM9",
          "name": "WhatsApp Business account ID API"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://mcp-calendar-service:3100/mcp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        1152,
        224
      ],
      "id": "68a42f14-dc33-40bd-be7a-d3515bb7381b",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "jsCode": "// Filtrar solo mensajes v\u00e1lidos de WhatsApp (texto, ubicaci\u00f3n o audio)\nconst data = $input.first().json;\nif (!data.contacts || !data.contacts[0]?.wa_id || !data.messages || data.messages.length === 0) {\n    return [];\n}\nconst msg = data.messages[0];\nconst type = msg?.type;\n// Aceptar mensajes de texto (m\u00e1ximo 1000 caracteres)\n// Nota: mensajes cortos como \"si\", \"no\", \"1\"..\"99\" son respuestas v\u00e1lidas.\n// El control de abuso queda cubierto por el rate limiter (6 msg/min \u2192 violations \u2192 ban).\nif (type === 'text' && msg.text?.body) {\n    const body = msg.text.body.trim();\n    if (body.length === 0) return []; // mensaje vac\u00edo \u2014 ignorar\n    data.messages[0].text.body = body.substring(0, 1000);\n    return [{ json: data }];\n}\n// Aceptar mensajes de ubicaci\u00f3n \u2014 convertir a texto para el AI Agent\nif (type === 'location' && msg.location) {\n    const lat = msg.location.latitude;\n    const lng = msg.location.longitude;\n    data.messages[0].text = { body: `Mi ubicaci\u00f3n es: latitud ${lat}, longitud ${lng}` };\n    return [{ json: data }];\n}\n// Aceptar mensajes de audio \u2014 se transcribir\u00e1n en nodos siguientes\nif (type === 'audio' && msg.audio?.id) {\n    return [{ json: data }];\n}\n// Otro tipo de mensaje (imagen, sticker, etc.) \u2014 ignorar\nreturn [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        -416
      ],
      "id": "e27fa7be-0706-4ed7-9213-ef314100687d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "name": "WA Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        -416
      ],
      "id": "01be3536-ce6d-4a0f-8450-dd477b746925",
      "webhookId": "875510d8-b9f9-45f9-9412-8d79c02c6b20",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "KX7vcbVgBEwD30dp",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "incr",
        "key": "=doctorkyn:ratelimit:{{ $('WA Trigger').item.json.contacts[0].wa_id }}:{{ $now.format('yyyyMMdd-HHmm') }}"
      },
      "name": "Redis Rate Limit",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        576,
        -736
      ],
      "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
      "credentials": {
        "redis": {
          "id": "LuDTeor4M8AG2GWQ",
          "name": "Keimer Infra Cache"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2c3d4e5-f6a7-8901-bcde-234567890abc",
              "leftValue": "={{ Object.values($json)[0] }}",
              "rightValue": 24,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "IF Rate Limited",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        816,
        -736
      ],
      "id": "d4e5f6a7-b8c9-0123-defa-456789012345"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "541998385660923",
        "recipientPhoneNumber": "={{ $('WA Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "\u23f3 Recib\u00ed varios mensajes tuyos muy seguidos.\n\nPara evitar errores, solo proceso *24 mensajes por minuto* por persona. Espera unos segundos y vuelve a escribirme \u2014 estar\u00e9 aqu\u00ed. \ud83d\ude4f",
        "additionalFields": {}
      },
      "name": "Rate Limit Reply",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        688,
        -336
      ],
      "id": "e5f6a7b8-c9d0-1234-efab-567890123456",
      "webhookId": "ab4f3f02-3742-43eb-9b5f-85ca256b9b18",
      "credentials": {
        "whatsAppApi": {
          "id": "0b2IOSWhlooEpqM9",
          "name": "WhatsApp Business account ID API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1c2d3e4-a5b6-7890-cdef-123456789abc",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check Output",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1168,
        16
      ],
      "id": "f1c2d3e4-a5b6-7890-cdef-123456789abc"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "541998385660923",
        "recipientPhoneNumber": "={{ $('WA Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "Lo sentimos, estamos teniendo dificultades t\u00e9cnicas. Por favor, intenta nuevamente en unos minutos. \ud83d\ude4f",
        "additionalFields": {}
      },
      "name": "Fallback Reply WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1328,
        128
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "webhookId": "fd4f1a96-5d47-49d9-8c1f-dcf6d33f2404",
      "credentials": {
        "whatsAppApi": {
          "id": "0b2IOSWhlooEpqM9",
          "name": "WhatsApp Business account ID API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aa11bb22-cc33-4d44-ee55-ff6677889900",
              "leftValue": "={{ $('Code in JavaScript').item.json.messages[0].type }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "IF Audio",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        32
      ],
      "id": "aa11bb22-cc33-4d44-ee55-ff6677889900"
    },
    {
      "parameters": {
        "jsCode": "// Prepara inputText para el AI Agent\n// Para texto/ubicaci\u00f3n: lee de Code in JavaScript\n// Para audio: lee .transcription devuelto por sub-workflow STT\nconst msgType = $('Code in JavaScript').item.json.messages[0].type;\nif (msgType === 'audio') {\n  const transcription = $json.transcription || '';\n  if (!transcription) return []; // sub-workflow ya envi\u00f3 el aviso al paciente\n  return [{ json: { inputText: `[Nota de voz]: ${transcription}` } }];\n}\nreturn [{ json: { inputText: $('Code in JavaScript').item.json.messages[0].text.body } }];"
      },
      "name": "Set Input Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        -128
      ],
      "id": "44bb55cc-66dd-47ee-88ff-112233445577"
    },
    {
      "parameters": {
        "jsCode": "// Prepara el payload para el sub-workflow STT\nreturn [{ json: {\n  audioId: $('Code in JavaScript').item.json.messages[0].audio.id,\n  wa_id: $('WA Trigger').item.json.contacts[0].wa_id\n} }];"
      },
      "name": "Prepare STT Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        224
      ],
      "id": "prep-stt-input-0001-0000-000000000001"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vK1LMd6ZtPKAW4hb",
          "mode": "id"
        },
        "options": {}
      },
      "name": "STT Transcribe",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        528,
        224
      ],
      "id": "stt-transcribe-00001-0000-000000000002"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "value",
        "key": "=doctorkyn:n8n-dev:whatsapp:{{ $('WA Trigger').item.json.contacts[0].wa_id }}:ban",
        "options": {}
      },
      "id": "fd164e4a-fb12-4809-b3d5-3e9605de7896",
      "name": "Check Ban",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        144,
        -736
      ],
      "credentials": {
        "redis": {
          "id": "LuDTeor4M8AG2GWQ",
          "name": "Keimer Infra Cache"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "5d70a18c-5c39-4d7f-b2a7-7718e0ec6486",
              "leftValue": "={{ $json.value }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "06e35ee1-ade1-4c99-84ab-dc7cc537924a",
      "name": "IF Banned",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        368,
        -736
      ]
    },
    {
      "parameters": {
        "operation": "incr",
        "key": "=doctorkyn:n8n-dev:whatsapp:{{ $('WA Trigger').item.json.contacts[0].wa_id }}:violations"
      },
      "id": "c19438df-3afa-4e56-9a4a-164b8f355cae",
      "name": "Incr Violations",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1056,
        -736
      ],
      "credentials": {
        "redis": {
          "id": "LuDTeor4M8AG2GWQ",
          "name": "Keimer Infra Cache"
        }
      }
    },
    {
      "parameters": {
        "operation": "expire"
      },
      "id": "4f11df04-ffb9-48d7-a1ce-937ad7ac95d3",
      "name": "Expire Violations",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1264,
        -736
      ],
      "credentials": {
        "redis": {
          "id": "LuDTeor4M8AG2GWQ",
          "name": "Keimer Infra Cache"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "43f90437-770d-498a-80fc-8780dfaaebca",
              "leftValue": "={{ Object.values($json)[0] }}",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "529bb304-b28e-4bca-bfcf-824a4567ad1e",
      "name": "IF Should Ban",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        688,
        -512
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=doctorkyn:n8n-dev:whatsapp:{{ $('WA Trigger').item.json.contacts[0].wa_id }}:ban",
        "value": "1",
        "expire": true,
        "ttl": 3600
      },
      "id": "9e7ecefa-a60b-4e97-89ba-553e7023b3e5",
      "name": "Set Ban",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        144,
        -336
      ],
      "credentials": {
        "redis": {
          "id": "LuDTeor4M8AG2GWQ",
          "name": "Keimer Infra Cache"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "541998385660923",
        "recipientPhoneNumber": "={{ $('WA Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "\ud83d\udeab Tu acceso ha sido suspendido temporalmente por *1 hora* debido a un uso inusual reiterado.\n\nPodr\u00e1s escribirnos nuevamente en *60 minutos*. Si crees que esto fue un error, comun\u00edcate directamente con la cl\u00ednica. \ud83d\ude4f",
        "additionalFields": {}
      },
      "id": "be73f7bb-4f56-4cc3-8ff7-41b4edf6bc3c",
      "name": "Ban Reply",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        368,
        -336
      ],
      "webhookId": "31de90ce-f245-4233-8bd7-602945c6f10c",
      "credentials": {
        "whatsAppApi": {
          "id": "0b2IOSWhlooEpqM9",
          "name": "WhatsApp Business account ID API"
        }
      }
    },
    {
      "parameters": {
        "content": "## \ud83d\udce8 Entrada de Mensajes\nRecibe el webhook de WhatsApp y filtra mensajes v\u00e1lidos.\n\n- **Acepta:** texto (\u2265 3 caracteres), audio, ubicaci\u00f3n\n- **Descarta:** im\u00e1genes, stickers, textos demasiado cortos\n- Trunca texto a 1 000 caracteres m\u00e1ximo",
        "height": 320,
        "width": 554,
        "color": 4
      },
      "id": "bdf268a5-3765-4eab-b010-b6b445547892",
      "name": "\ud83d\uddd2 Entrada de Mensajes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        -592
      ]
    },
    {
      "parameters": {
        "content": "## \ud83d\udee1\ufe0f Protecci\u00f3n contra Abuso\nBloquea spam y ataques DoS antes de consumir tokens del Agente IA.\n\n- **Check Ban** \u2014 Redis GET: verifica ban activo por `wa_id` (TTL 1 h)\n- **Rate Limit** \u2014 m\u00e1x. 3 mensajes/minuto por usuario\n- **Ban progresivo** \u2014 3+ violaciones en 1 h \u2192 suspensi\u00f3n de 1 h con aviso\n  - `violations` key: TTL rodante de 1 h (se renueva en cada infracci\u00f3n)\n  - `ban` key: TTL fijo de 1 h \u2192 usuarios baneados caen silenciosamente",
        "height": 780,
        "width": 1380,
        "color": 3
      },
      "id": "560195e4-f6a2-4dfb-a548-75c107aae925",
      "name": "\ud83d\uddd2 Protecci\u00f3n contra Abuso",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        -960
      ]
    },
    {
      "parameters": {
        "content": "## \ud83c\udfa4 Enrutamiento y Preparaci\u00f3n de Entrada\nConvierte cualquier tipo de mensaje en `inputText` uniforme para el Agente IA.\n\n- **Audio** \u2192 sub-workflow STT (Groq Whisper primary, ElevenLabs fallback)\n  - Valida calidad: descarta artefactos `[BLANK_AUDIO]`, ruido puro, < 2 palabras\n- **Texto / Ubicaci\u00f3n** \u2192 pasa directo a `Set Input Text`\n- **Salida:** `{ inputText: \"...\" }` \u2014 formato uniforme siempre",
        "height": 580,
        "width": 672,
        "color": 5
      },
      "id": "125f4378-277a-41a7-880f-41aabb008991",
      "name": "\ud83d\uddd2 Enrutamiento y Preparaci\u00f3n",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        -176
      ]
    },
    {
      "parameters": {
        "content": "## \ud83e\udd16 Agente IA \u2014 DoctorKyn\nProcesa el mensaje y genera la respuesta del asistente m\u00e9dico.\n\n- **Modelo:** GPT-4.1-mini (temp 0.1, m\u00e1x 600 tokens)\n- **Memoria:** Redis por sesi\u00f3n `wa_id` \u2014 TTL 2 h, ventana 30 mensajes\n- **Herramientas:** MCP Client \u2192 calendario / agendamiento\n- **Fallback:** respuesta gen\u00e9rica si el agente no produce output v\u00e1lido",
        "height": 584,
        "width": 712
      },
      "id": "cd3e1772-34db-4d2b-a39d-c3864927beba",
      "name": "\ud83d\uddd2 Agente IA",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        -176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "6ad6963d-b800-47ff-b450-71726ff0e5db",
              "leftValue": "={{ Object.values($json)[0] }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "706f770a-9148-417a-9206-e1c82551380a",
      "name": "IF Near Limit",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        128,
        224
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "541998385660923",
        "recipientPhoneNumber": "={{ $('WA Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ '\u26a0\ufe0f Llevas ' + Object.values($json)[0] + '/6 mensajes este minuto. ' + ((6 - Object.values($json)[0]) > 0 ? 'Te quedan *' + (6 - Object.values($json)[0]) + '* antes del l\u00edmite.' : 'El pr\u00f3ximo mensaje ser\u00e1 bloqueado.') }}",
        "additionalFields": {}
      },
      "id": "5790ae2a-6ec1-4024-9d07-12ee372e63be",
      "name": "Warning Reply",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        144,
        32
      ],
      "webhookId": "182a7e0d-afa3-4981-8c59-fc243989ee06",
      "credentials": {
        "whatsAppApi": {
          "id": "0b2IOSWhlooEpqM9",
          "name": "WhatsApp Business account ID API"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jXdJK4q9U32OR95O",
          "mode": "id"
        },
        "options": {}
      },
      "id": "848a0c53-8d7d-4c7a-9092-642acdb90a9e",
      "name": "Execute: State Reader",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        560,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const inputText = $('Set Input Text').item.json.inputText;\nconst formatted = $('Execute: State Reader').item.json.bookingStateFormatted || '';\nreturn [{ json: { inputText, bookingStateFormatted: formatted } }];"
      },
      "id": "55adb92b-9ede-4db4-b9fa-a19f1697c399",
      "name": "Inject State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        16
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MJc8ivr0PrTyHPIP",
          "mode": "id"
        },
        "options": {}
      },
      "id": "4dce3616-e6d3-432c-b35a-99f837882ac6",
      "name": "Execute: State Updater",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1504,
        0
      ]
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Check Output": {
      "main": [
        [
          {
            "node": "Reply WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Reply WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Check Ban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Rate Limit": {
      "main": [
        [
          {
            "node": "IF Rate Limited",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Rate Limited": {
      "main": [
        [
          {
            "node": "Incr Violations",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Near Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WA Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Audio": {
      "main": [
        [
          {
            "node": "Prepare STT Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Input Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare STT Input": {
      "main": [
        [
          {
            "node": "STT Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STT Transcribe": {
      "main": [
        [
          {
            "node": "Set Input Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Ban": {
      "main": [
        [
          {
            "node": "IF Banned",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Banned": {
      "main": [
        [],
        [
          {
            "node": "Redis Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incr Violations": {
      "main": [
        [
          {
            "node": "Expire Violations",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Should Ban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Should Ban": {
      "main": [
        [
          {
            "node": "Set Ban",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rate Limit Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Ban": {
      "main": [
        [
          {
            "node": "Ban Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Near Limit": {
      "main": [
        [
          {
            "node": "Warning Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Warning Reply": {
      "main": [
        [
          {
            "node": "IF Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input Text": {
      "main": [
        [
          {
            "node": "Execute: State Reader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: State Reader": {
      "main": [
        [
          {
            "node": "Inject State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject State": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Check Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute: State Updater": {
      "main": [
        []
      ]
    },
    "Reply WhatsApp": {
      "main": [
        [
          {
            "node": "Execute: State Updater",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Reply WhatsApp": {
      "main": [
        [
          {
            "node": "Execute: State Updater",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "FAOaoPBNYLkpd3gf"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "8308bfcb-0de9-4b6a-bf58-fa390bcbbb8d",
  "activeVersionId": "8308bfcb-0de9-4b6a-bf58-fa390bcbbb8d",
  "versionCounter": 560,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-03T15:01:22.497Z",
      "createdAt": "2026-04-03T15:01:22.497Z",
      "role": "workflow:owner",
      "workflowId": "kbWzPpbDMnz4TyA0",
      "projectId": "MfE3ZI64e0dGnFAj",
      "project": {
        "updatedAt": "2026-04-03T12:29:07.342Z",
        "createdAt": "2026-01-16T18:34:08.899Z",
        "id": "MfE3ZI64e0dGnFAj",
        "name": "Keimer Montes Oliver <keimermo1989@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "5963f460-3684-486d-8f21-cefca0d4b976"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-14T16:32:29.178Z",
    "createdAt": "2026-05-14T16:32:09.046Z",
    "versionId": "8308bfcb-0de9-4b6a-bf58-fa390bcbbb8d",
    "workflowId": "kbWzPpbDMnz4TyA0",
    "nodes": [
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1-mini",
            "mode": "list",
            "cachedResultName": "gpt-4.1-mini"
          },
          "options": {
            "maxTokens": 600,
            "temperature": 0.1
          }
        },
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          832,
          224
        ],
        "id": "d9605e99-df11-4481-8fc3-1b5b2cf375a7",
        "credentials": {
          "openAiApi": {
            "id": "wLpMuXGfvIEudfkX",
            "name": "Keimer OpenAI"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.inputText }}",
          "options": {
            "systemMessage": "=Eres el asistente virtual de DoctorKyn para agendamiento de citas m\u00e9dicas por WhatsApp. Hablas en espa\u00f1ol de forma amable, concisa y profesional.\n\n## CONTEXTO\nFecha de hoy (fija para esta sesi\u00f3n): {{ $now.format('yyyy-MM-dd') }}\nUs\u00e1 SOLO esta fecha como referencia. No inventes fechas.\n\n## HERRAMIENTAS (via MCP Client)\n\n- find_patient(identification) \u2014 busca paciente por c\u00e9dula\n- get_available_services() \u2014 retorna servicios disponibles (nombres exactos)\n- get_available_clinics(serviceName?) \u2014 retorna cl\u00ednicas disponibles para el servicio\n- find_nearby_clinics(latitude, longitude, serviceName?) \u2014 cl\u00ednicas por distancia\n- get_available_days(clinicName, serviceName, startDate, endDate) \u2014 fechas con disponibilidad\n- get_time_slots(clinicName, serviceName, date) \u2014 horarios del d\u00eda, incluye scheduleId por slot\n- get_discounts(patientCedula, clinicName) \u2014 descuentos aplicables\n- book_appointment(clinicName, serviceName, date, time, patientCedula, price) \u2014 retorna receiptId. price = precio FINAL con descuento.\n- get_appointment(receiptId) \u2014 detalles de cita\n- reschedule_appointment(receiptId, newScheduleId) \u2014 reprograma usando scheduleId de get_time_slots\n- cancel_appointment(receiptId) \u2014 cancela cita\n\nTodas las herramientas aceptan NOMBRES (no UUIDs), excepto newScheduleId en reschedule que viene de get_time_slots. NUNCA inventes UUIDs ni nombres.\n\n## FLUJO DE AGENDAMIENTO\n\nIMPORTANTE: Antes de cada pregunta, revis\u00e1 el bloque PROGRESO DE RESERVA ACTUAL al final de este mensaje. Segu\u00ed estas reglas estrictamente:\n\n- Si un campo ya tiene valor \u2192 NO lo vuelvas a pedir. \u00dasalo directamente.\n- Si un campo muestra \u26a0\ufe0f conflict \u2192 resu\u00e9lvelo antes de avanzar.\n- Si status es \"booked\" \u2192 no inicies una nueva reserva sin confirmaci\u00f3n expl\u00edcita del paciente.\n- Siempre retom\u00e1 desde el primer campo con valor null en esta secuencia:\n  cedula \u2192 service \u2192 clinic \u2192 date \u2192 time_slot \u2192 (confirmar precio) \u2192 book_appointment\n\nPasos:\n1. cedula null   \u2192 ped\u00ed la c\u00e9dula \u2192 find_patient(identification)\n2. service null  \u2192 SIEMPRE llam\u00e1 get_available_services() y mostr\u00e1 lista numerada\n3. clinic null   \u2192 get_available_clinics(serviceName). Si no sabe \u2192 find_nearby_clinics\n4. date null     \u2192 get_available_days(clinicName, serviceName, hoy, hoy+30d). M\u00e1x 5 opciones.\n5. time_slot null \u2192 get_time_slots(clinicName, serviceName, date). Incluye scheduleId por slot.\n6. Todos completos \u2192 get_discounts(cedula, clinic) \u2192 confirm\u00e1 precio final \u2192 book_appointment\n## FLUJOS ALTERNATIVOS\n\n- Consultar cita: Ped\u00ed el receiptId \u2192 get_appointment(receiptId). Si no lo recuerda, indicale que est\u00e1 en el mensaje de confirmaci\u00f3n.\n- Reprogramar: receiptId \u2192 get_available_days + get_time_slots \u2192 eleg\u00ed slot \u2192 reschedule_appointment(receiptId, newScheduleId=scheduleId del slot).\n- Cancelar: receiptId \u2192 cancel_appointment(receiptId).\n\n## MANEJO DE ERRORES\n\n- find_patient falla \u2192 la c\u00e9dula no est\u00e1 registrada. Ped\u00ed que se registre en DoctorKyn o contacte a la cl\u00ednica.\n- book_appointment retorna \"ya tiene cita pendiente\" \u2192 inform\u00e1 al paciente, ofrec\u00e9 ver la cita existente (get_appointment) o reprogramarla.\n- get_available_services vac\u00edo \u2192 no hay disponibilidad, suger\u00ed contactar directamente a la cl\u00ednica.\n- get_available_clinics vac\u00edo para un servicio \u2192 no hay cl\u00ednicas con ese servicio, ofrec\u00e9 otras especialidades.\n- Sin receiptId para cancelar/reprogramar \u2192 indic\u00e1 que est\u00e1 en el mensaje de confirmaci\u00f3n anterior.\n\n## REGLAS\n- NUNCA agendes sin confirmaci\u00f3n expl\u00edcita. Acepta: s\u00ed, confirmo, dale, ok, va, perfecto, claro.\n- SIEMPRE muestra precio final (con descuento) antes de reservar.\n- Mensajes cortos: m\u00e1x 4 l\u00edneas. Listas: m\u00e1x 5 \u00edtems numerados.\n- Emojis moderados: \ud83d\udcc5 \ud83d\udd50 \u2705 \ud83d\udc68\u200d\u2695\ufe0f\n- Formato fechas: 'Lunes 6 de Abril', horas: '09:00'\n- No menciones nombre de doctor si no lo devolvi\u00f3 get_time_slots.\n- Los PRECIOS dependen de la cl\u00ednica: NUNCA muestres precios de servicios sin haber identificado primero la cl\u00ednica. El precio real se obtiene de get_time_slots (precio por slot) o get_discounts (precio con descuento). Si el paciente pregunta '\u00bfcu\u00e1nto cuesta?' sin haber elegido cl\u00ednica, preguntale primero en qu\u00e9 cl\u00ednica.\n\n{{ $json.bookingStateFormatted }}",
            "maxIterations": 10
          }
        },
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          928,
          16
        ],
        "id": "0b3235c8-7a78-4f5a-bbfd-5cb38c87fe99"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "=doctorkyn:n8n-dev:whatsapp:{{ $('WA Trigger').item.json.contacts[0].wa_id }}",
          "sessionTTL": 7200,
          "contextWindowLength": 30
        },
        "name": "Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
        "typeVersion": 1.5,
        "position": [
          976,
          224
        ],
        "id": "aaa043d9-f9ac-476c-b7fb-42e5a944fb7c",
        "credentials": {
          "redis": {
            "id": "LuDTeor4M8AG2GWQ",
            "name": "Keimer Infra Cache"
          }
        }
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "541998385660923",
          "recipientPhoneNumber": "={{ $('WA Trigger').item.json.contacts[0].wa_id }}",
          "textBody": "={{ $json.output }}",
          "additionalFields": {}
        },
        "name": "Reply WhatsApp",
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1,
        "position": [
          1312,
          -80
        ],
        "id": "68f14b46-2d15-48a9-bba3-57440bbfbdaa",
        "webhookId": "27bd3093-43e1-454c-afa9-c824a5608808",
        "credentials": {
          "whatsAppApi": {
            "id": "0b2IOSWhlooEpqM9",
            "name": "WhatsApp Business account ID API"
          }
        }
      },
      {
        "parameters": {
          "endpointUrl": "http://mcp-calendar-service:3100/mcp",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
        "typeVersion": 1.2,
        "position": [
          1152,
          224
        ],
        "id": "68a42f14-dc33-40bd-be7a-d3515bb7381b",
        "name": "MCP Client"
      },
      {
        "parameters": {
          "jsCode": "// Filtrar solo mensajes v\u00e1lidos de WhatsApp (texto, ubicaci\u00f3n o audio)\nconst data = $input.first().json;\nif (!data.contacts || !data.contacts[0]?.wa_id || !data.messages || data.messages.length === 0) {\n    return [];\n}\nconst msg = data.messages[0];\nconst type = msg?.type;\n// Aceptar mensajes de texto (m\u00e1ximo 1000 caracteres)\n// Nota: mensajes cortos como \"si\", \"no\", \"1\"..\"99\" son respuestas v\u00e1lidas.\n// El control de abuso queda cubierto por el rate limiter (6 msg/min \u2192 violations \u2192 ban).\nif (type === 'text' && msg.text?.body) {\n    const body = msg.text.body.trim();\n    if (body.length === 0) return []; // mensaje vac\u00edo \u2014 ignorar\n    data.messages[0].text.body = body.substring(0, 1000);\n    return [{ json: data }];\n}\n// Aceptar mensajes de ubicaci\u00f3n \u2014 convertir a texto para el AI Agent\nif (type === 'location' && msg.location) {\n    const lat = msg.location.latitude;\n    const lng = msg.location.longitude;\n    data.messages[0].text = { body: `Mi ubicaci\u00f3n es: latitud ${lat}, longitud ${lng}` };\n    return [{ json: data }];\n}\n// Aceptar mensajes de audio \u2014 se transcribir\u00e1n en nodos siguientes\nif (type === 'audio' && msg.audio?.id) {\n    return [{ json: data }];\n}\n// Otro tipo de mensaje (imagen, sticker, etc.) \u2014 ignorar\nreturn [];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -288,
          -416
        ],
        "id": "e27fa7be-0706-4ed7-9213-ef314100687d",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "updates": [
            "messages"
          ],
          "options": {}
        },
        "name": "WA Trigger",
        "type": "n8n-nodes-base.whatsAppTrigger",
        "typeVersion": 1,
        "position": [
          -464,
          -416
        ],
        "id": "01be3536-ce6d-4a0f-8450-dd477b746925",
        "webhookId": "875510d8-b9f9-45f9-9412-8d79c02c6b20",
        "credentials": {
          "whatsAppTriggerApi": {
            "id": "KX7vcbVgBEwD30dp",
            "name": "WhatsApp OAuth account"
          }
        }
      },
      {
        "parameters": {
          "operation": "incr",
          "key": "=doctorkyn:ratelimit:{{ $('WA Trigger').item.json.contacts[0].wa_id }}:{{ $now.format('yyyyMMdd-HHmm') }}"
        },
        "name": "Redis Rate Limit",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          576,
          -736
        ],
        "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
        "credentials": {
          "redis": {
            "id": "LuDTeor4M8AG2GWQ",
            "name": "Keimer Infra Cache"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "b2c3d4e5-f6a7-8901-bcde-234567890abc",
                "leftValue": "={{ Object.values($json)[0] }}",
                "rightValue": 24,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "name": "IF Rate Limited",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          816,
          -736
        ],
        "id": "d4e5f6a7-b8c9-0123-defa-456789012345"
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "541998385660923",
          "recipientPhoneNumber": "={{ $('WA Trigger').item.json.contacts[0].wa_id }}",
          "textBody": "\u23f3 Recib\u00ed varios mensajes tuyos muy seguidos.\n\nPara evitar errores, solo proceso *24 mensajes por minuto* por persona. Espera unos segundos y vuelve a escribirme \u2014 estar\u00e9 aqu\u00ed. \ud83d\ude4f",
          "additionalFields": {}
        },
        "name": "Rate Limit Reply",
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1,
        "position": [
          688,
          -336
        ],
        "id": "e5f6a7b8-c9d0-1234-efab-567890123456",
        "webhookId": "ab4f3f02-3742-43eb-9b5f-85ca256b9b18",
        "credentials": {
          "whatsAppApi": {
            "id": "0b2IOSWhlooEpqM9",
            "name": "WhatsApp Business account ID API"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "f1c2d3e4-a5b6-7890-cdef-123456789abc",
                "leftValue": "={{ $json.output }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "name": "Check Output",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1168,
          16
        ],
        "id": "f1c2d3e4-a5b6-7890-cdef-123456789abc"
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "541998385660923",
          "recipientPhoneNumber": "={{ $('WA Trigger').item.json.contacts[0].wa_id }}",
          "textBody": "Lo sentimos, estamos teniendo dificultades t\u00e9cnicas. Por favor, intenta nuevamente en unos minutos. \ud83d\ude4f",
          "additionalFields": {}
        },
        "name": "Fallback Reply WhatsApp",
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1,
        "position": [
          1328,
          128
        ],
        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
        "webhookId": "fd4f1a96-5d47-49d9-8c1f-dcf6d33f2404",
        "credentials": {
          "whatsAppApi": {
            "id": "0b2IOSWhlooEpqM9",
            "name": "WhatsApp Business account ID API"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "aa11bb22-cc33-4d44-ee55-ff6677889900",
                "leftValue": "={{ $('Code in JavaScript').item.json.messages[0].type }}",
                "rightValue": "audio",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "name": "IF Audio",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          320,
          32
        ],
        "id": "aa11bb22-cc33-4d44-ee55-ff6677889900"
      },
      {
        "parameters": {
          "jsCode": "// Prepara inputText para el AI Agent\n// Para texto/ubicaci\u00f3n: lee de Code in JavaScript\n// Para audio: lee .transcription devuelto por sub-workflow STT\nconst msgType = $('Code in JavaScript').item.json.messages[0].type;\nif (msgType === 'audio') {\n  const transcription = $json.transcription || '';\n  if (!transcription) return []; // sub-workflow ya envi\u00f3 el aviso al paciente\n  return [{ json: { inputText: `[Nota de voz]: ${transcription}` } }];\n}\nreturn [{ json: { inputText: $('Code in JavaScript').item.json.messages[0].text.body } }];"
        },
        "name": "Set Input Text",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          544,
          -128
        ],
        "id": "44bb55cc-66dd-47ee-88ff-112233445577"
      },
      {
        "parameters": {
          "jsCode": "// Prepara el payload para el sub-workflow STT\nreturn [{ json: {\n  audioId: $('Code in JavaScript').item.json.messages[0].audio.id,\n  wa_id: $('WA Trigger').item.json.contacts[0].wa_id\n} }];"
        },
        "name": "Prepare STT Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          336,
          224
        ],
        "id": "prep-stt-input-0001-0000-000000000001"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "vK1LMd6ZtPKAW4hb",
            "mode": "id"
          },
          "options": {}
        },
        "name": "STT Transcribe",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.1,
        "position": [
          528,
          224
        ],
        "id": "stt-transcribe-00001-0000-000000000002"
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "value",
          "key": "=doctorkyn:n8n-dev:whatsapp:{{ $('WA Trigger').item.json.contacts[0].wa_id }}:ban",
          "options": {}
        },
        "id": "fd164e4a-fb12-4809-b3d5-3e9605de7896",
        "name": "Check Ban",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          144,
          -736
        ],
        "credentials": {
          "redis": {
            "id": "LuDTeor4M8AG2GWQ",
            "name": "Keimer Infra Cache"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "5d70a18c-5c39-4d7f-b2a7-7718e0ec6486",
                "leftValue": "={{ $json.value }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "06e35ee1-ade1-4c99-84ab-dc7cc537924a",
        "name": "IF Banned",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          368,
          -736
        ]
      },
      {
        "parameters": {
          "operation": "incr",
          "key": "=doctorkyn:n8n-dev:whatsapp:{{ $('WA Trigger').item.json.contacts[0].wa_id }}:violations"
        },
        "id": "c19438df-3afa-4e56-9a4a-164b8f355cae",
        "name": "Incr Violations",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          1056,
          -736
        ],
        "credentials": {
          "redis": {
            "id": "LuDTeor4M8AG2GWQ",
            "name": "Keimer Infra Cache"
          }
        }
      },
      {
        "parameters": {
          "operation": "expire"
        },
        "id": "4f11df04-ffb9-48d7-a1ce-937ad7ac95d3",
        "name": "Expire Violations",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          1264,
          -736
        ],
        "credentials": {
          "redis": {
            "id": "LuDTeor4M8AG2GWQ",
            "name": "Keimer Infra Cache"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "43f90437-770d-498a-80fc-8780dfaaebca",
                "leftValue": "={{ Object.values($json)[0] }}",
                "rightValue": 20,
                "operator": {
                  "type": "number",
                  "operation": "gte"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "529bb304-b28e-4bca-bfcf-824a4567ad1e",
        "name": "IF Should Ban",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          688,
          -512
        ]
      },
      {
        "parameters": {
          "operation": "set",
          "key": "=doctorkyn:n8n-dev:whatsapp:{{ $('WA Trigger').item.json.contacts[0].wa_id }}:ban",
          "value": "1",
          "expire": true,
          "ttl": 3600
        },
        "id": "9e7ecefa-a60b-4e97-89ba-553e7023b3e5",
        "name": "Set Ban",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          144,
          -336
        ],
        "credentials": {
          "redis": {
            "id": "LuDTeor4M8AG2GWQ",
            "name": "Keimer Infra Cache"
          }
        }
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "541998385660923",
          "recipientPhoneNumber": "={{ $('WA Trigger').item.json.contacts[0].wa_id }}",
          "textBody": "\ud83d\udeab Tu acceso ha sido suspendido temporalmente por *1 hora* debido a un uso inusual reiterado.\n\nPodr\u00e1s escribirnos nuevamente en *60 minutos*. Si crees que esto fue un error, comun\u00edcate directamente con la cl\u00ednica. \ud83d\ude4f",
          "additionalFields": {}
        },
        "id": "be73f7bb-4f56-4cc3-8ff7-41b4edf6bc3c",
        "name": "Ban Reply",
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1,
        "position": [
          368,
          -336
        ],
        "webhookId": "31de90ce-f245-4233-8bd7-602945c6f10c",
        "credentials": {
          "whatsAppApi": {
            "id": "0b2IOSWhlooEpqM9",
            "name": "WhatsApp Business account ID API"
          }
        }
      },
      {
        "parameters": {
          "content": "## \ud83d\udce8 Entrada de Mensajes\nRecibe el webhook de WhatsApp y filtra mensajes v\u00e1lidos.\n\n- **Acepta:** texto (\u2265 3 caracteres), audio, ubicaci\u00f3n\n- **Descarta:** im\u00e1genes, stickers, textos demasiado cortos\n- Trunca texto a 1 000 caracteres m\u00e1ximo",
          "height": 320,
          "width": 554,
          "color": 4
        },
        "id": "bdf268a5-3765-4eab-b010-b6b445547892",
        "name": "\ud83d\uddd2 Entrada de Mensajes",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -576,
          -592
        ]
      },
      {
        "parameters": {
          "content": "## \ud83d\udee1\ufe0f Protecci\u00f3n contra Abuso\nBloquea spam y ataques DoS antes de consumir tokens del Agente IA.\n\n- **Check Ban** \u2014 Redis GET: verifica ban activo por `wa_id` (TTL 1 h)\n- **Rate Limit** \u2014 m\u00e1x. 3 mensajes/minuto por usuario\n- **Ban progresivo** \u2014 3+ violaciones en 1 h \u2192 suspensi\u00f3n de 1 h con aviso\n  - `violations` key: TTL rodante de 1 h (se renueva en cada infracci\u00f3n)\n  - `ban` key: TTL fijo de 1 h \u2192 usuarios baneados caen silenciosamente",
          "height": 780,
          "width": 1380,
          "color": 3
        },
        "id": "560195e4-f6a2-4dfb-a548-75c107aae925",
        "name": "\ud83d\uddd2 Protecci\u00f3n contra Abuso",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          48,
          -960
        ]
      },
      {
        "parameters": {
          "content": "## \ud83c\udfa4 Enrutamiento y Preparaci\u00f3n de Entrada\nConvierte cualquier tipo de mensaje en `inputText` uniforme para el Agente IA.\n\n- **Audio** \u2192 sub-workflow STT (Groq Whisper primary, ElevenLabs fallback)\n  - Valida calidad: descarta artefactos `[BLANK_AUDIO]`, ruido puro, < 2 palabras\n- **Texto / Ubicaci\u00f3n** \u2192 pasa directo a `Set Input Text`\n- **Salida:** `{ inputText: \"...\" }` \u2014 formato uniforme siempre",
          "height": 580,
          "width": 672,
          "color": 5
        },
        "id": "125f4378-277a-41a7-880f-41aabb008991",
        "name": "\ud83d\uddd2 Enrutamiento y Preparaci\u00f3n",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          48,
          -176
        ]
      },
      {
        "parameters": {
          "content": "## \ud83e\udd16 Agente IA \u2014 DoctorKyn\nProcesa el mensaje y genera la respuesta del asistente m\u00e9dico.\n\n- **Modelo:** GPT-4.1-mini (temp 0.1, m\u00e1x 600 tokens)\n- **Memoria:** Redis por sesi\u00f3n `wa_id` \u2014 TTL 2 h, ventana 30 mensajes\n- **Herramientas:** MCP Client \u2192 calendario / agendamiento\n- **Fallback:** respuesta gen\u00e9rica si el agente no produce output v\u00e1lido",
          "height": 584,
          "width": 712
        },
        "id": "cd3e1772-34db-4d2b-a39d-c3864927beba",
        "name": "\ud83d\uddd2 Agente IA",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          720,
          -176
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 1
            },
            "conditions": [
              {
                "id": "6ad6963d-b800-47ff-b450-71726ff0e5db",
                "leftValue": "={{ Object.values($json)[0] }}",
                "rightValue": 3,
                "operator": {
                  "type": "number",
                  "operation": "gte"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "706f770a-9148-417a-9206-e1c82551380a",
        "name": "IF Near Limit",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          128,
          224
        ]
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "541998385660923",
          "recipientPhoneNumber": "={{ $('WA Trigger').item.json.contacts[0].wa_id }}",
          "textBody": "={{ '\u26a0\ufe0f Llevas ' + Object.values($json)[0] + '/6 mensajes este minuto. ' + ((6 - Object.values($json)[0]) > 0 ? 'Te quedan *' + (6 - Object.values($json)[0]) + '* antes del l\u00edmite.' : 'El pr\u00f3ximo mensaje ser\u00e1 bloqueado.') }}",
          "additionalFields": {}
        },
        "id": "5790ae2a-6ec1-4024-9d07-12ee372e63be",
        "name": "Warning Reply",
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1,
        "position": [
          144,
          32
        ],
        "webhookId": "182a7e0d-afa3-4981-8c59-fc243989ee06",
        "credentials": {
          "whatsAppApi": {
            "id": "0b2IOSWhlooEpqM9",
            "name": "WhatsApp Business account ID API"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "jXdJK4q9U32OR95O",
            "mode": "id"
          },
          "options": {}
        },
        "id": "848a0c53-8d7d-4c7a-9092-642acdb90a9e",
        "name": "Execute: State Reader",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.1,
        "position": [
          560,
          16
        ]
      },
      {
        "parameters": {
          "jsCode": "const inputText = $('Set Input Text').item.json.inputText;\nconst formatted = $('Execute: State Reader').item.json.bookingStateFormatted || '';\nreturn [{ json: { inputText, bookingStateFormatted: formatted } }];"
        },
        "id": "55adb92b-9ede-4db4-b9fa-a19f1697c399",
        "name": "Inject State",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          720,
          16
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "MJc8ivr0PrTyHPIP",
            "mode": "id"
          },
          "options": {}
        },
        "id": "4dce3616-e6d3-432c-b35a-99f837882ac6",
        "name": "Execute: State Updater",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.1,
        "position": [
          1504,
          0
        ]
      }
    ],
    "connections": {
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Check Output": {
        "main": [
          [
            {
              "node": "Reply WhatsApp",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Fallback Reply WhatsApp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MCP Client": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Check Ban",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis Rate Limit": {
        "main": [
          [
            {
              "node": "IF Rate Limited",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Rate Limited": {
        "main": [
          [
            {
              "node": "Incr Violations",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IF Near Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "WA Trigger": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Audio": {
        "main": [
          [
            {
              "node": "Prepare STT Input",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set Input Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare STT Input": {
        "main": [
          [
            {
              "node": "STT Transcribe",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "STT Transcribe": {
        "main": [
          [
            {
              "node": "Set Input Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Ban": {
        "main": [
          [
            {
              "node": "IF Banned",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Banned": {
        "main": [
          [],
          [
            {
              "node": "Redis Rate Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Incr Violations": {
        "main": [
          [
            {
              "node": "Expire Violations",
              "type": "main",
              "index": 0
            },
            {
              "node": "IF Should Ban",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Should Ban": {
        "main": [
          [
            {
              "node": "Set Ban",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Rate Limit Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Ban": {
        "main": [
          [
            {
              "node": "Ban Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Near Limit": {
        "main": [
          [
            {
              "node": "Warning Reply",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IF Audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Warning Reply": {
        "main": [
          [
            {
              "node": "IF Audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Input Text": {
        "main": [
          [
            {
              "node": "Execute: State Reader",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute: State Reader": {
        "main": [
          [
            {
              "node": "Inject State",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Inject State": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Check Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute: State Updater": {
        "main": [
          []
        ]
      },
      "Reply WhatsApp": {
        "main": [
          [
            {
              "node": "Execute: State Updater",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fallback Reply WhatsApp": {
        "main": [
          [
            {
              "node": "Execute: State Updater",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Keimer Montes Oliver",
    "name": "Version 8308bfcb",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-14T16:32:29.176Z",
        "id": 260,
        "workflowId": "kbWzPpbDMnz4TyA0",
        "versionId": "8308bfcb-0de9-4b6a-bf58-fa390bcbbb8d",
        "event": "activated",
        "userId": "5963f460-3684-486d-8f21-cefca0d4b976"
      }
    ]
  }
}
