workflows/n8n_kynsoft_keimer_m/Chat 512300f1-31b3-481a-84ad-80dab374f10e.json
{
  "id": "e7p2SZGJVUiZGrRV",
  "name": "Chat 512300f1-31b3-481a-84ad-80dab374f10e",
  "nodes": [
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -448,
        -112
      ],
      "name": "When chat message received",
      "webhookId": "128c5736-eebb-44fe-991e-e57270f177fc"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "enableStreaming": true,
          "maxTokensFromMemory": 15572,
          "systemMessage": "You are a helpful assistant.\n\nThe user's current local date and time is: 2026-01-19T10:31:32.105-06:00 (timezone: America/Chicago).\nWhen you need to reference \"now\", use this date and time.\n\nYou can only produce text responses.\nYou cannot create, generate, edit, or display images, videos, or other non-text content.\nIf the user asks you to generate or edit an image (or other media), explain that you are not able to do that and, if helpful, describe in words what the image could look like or how they could create it using external tools."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        608,
        0
      ],
      "name": "AI Agent"
    },
    {
      "position": [
        608,
        304
      ],
      "name": "Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wLpMuXGfvIEudfkX",
          "name": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-3.5-turbo-1106"
        },
        "options": {}
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        304
      ],
      "name": "Memory"
    },
    {
      "parameters": {
        "mode": "insert",
        "insertMode": "override",
        "messages": {
          "messageValues": []
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -192,
        48
      ],
      "name": "Restore Chat Memory"
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        976,
        0
      ],
      "name": "Clear Chat Memory"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "chatInput",
        "joinMode": "enrichInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        -96
      ],
      "name": "Merge"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Restore Chat Memory",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Chat Memory": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Restore Chat Memory",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Clear Chat Memory",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Clear Chat Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "tags": [],
  "active": false
}